* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif!important;
  list-style: none;
  margin: 0;
  outline: none;
  font-size: 1rem;
  padding: 0;
  color: #2A2A2A;
  animation: fade-in 0.3s ease-in-out;
  -webkit-animation: fade-in 0.3s ease-in-out;
}

:root {
  font-size: calc(100vw * 16 / 1440);
}

h2 {
  font-size: 3.75rem;
  font-weight: normal;
  line-height: 4.75rem;
}

h3 {
  font-size: 2.125rem;
  font-weight: normal;
  line-height: 2.5rem;
}

h4{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: var(--text-color);
}

h5 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.4375rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 0.875rem;
}

@media screen and (max-width: 700px) {
  :root{
    font-size: calc(100vw * 16 / 475);
  }

}
